<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Cursed Objects</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="/css/style.css" />
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <!-- <script src="../bundle.js"></script> -->
  <!-- <script src="main.js"></script> -->
</head>
<body>
  <div id="container">
    <form action="/" method="post">
      <input name="artefactIdentifier" type="number" class="" placeholder="Enter an ID" min="1" max="999999" required>
      <input type="submit" class="" value="Go!">
    </form>
    <% if (story !== null){ %>
      <p><%= story %></p>
      <img src="<%= image %>" />
      <% } %>
      <% if (error !== null){ %>
        <p><%= error %></p>
        <% } %>
      </div>
    </body>
    </html>